.table-container {
  width: 90vw;
}

.table {
  display: block;
  margin: 1rem;
  padding-bottom: 1rem;
  overflow: scroll; /* Scrollbar are always visible */
  overflow: auto; /* Scrollbar is displayed as it's needed */
  overflow-x: auto;

  .fixed {
    display: block;
    width: 200px;
  }

  .date-name p {
    writing-mode: vertical-rl;
    text-orientation: mixed;
  }

  td,
  th {
    padding: 10px;
    background-color: #fff;
    text-align: center;
    transition: all ease-in-out 0.3s;
    border: 1px solid #fff;

    &:hover {
      background-color: rgb(238, 238, 238);
      border: 1px solid white;
      cursor: default;
    }
  }

  .red {
    background-color: #eb5757 !important;
  }

  .yellow {
    background-color: #f9f13e;
  }

  .blue {
    background-color: #2f80ed;
  }

  .gray {
    background-color: #a4a4a2;
  }

  .white {
    background-color: #fff;
  }

  .inactive {
    color: #9c9c9c;

    &:hover {
      background-color: unset !important;
    }
  }
}
